<div class="d-flex">
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"></div>
    <div class="list-group list-group-flush">
      <div class="list-group-item bg-light">
        Cadastros
      </div>
      <a routerLink="/cad-autores" class="list-group-item list-group-item-action bg-light ms-3">Autores</a>
      <a routerLink="/cad-assuntos" class="list-group-item list-group-item-action bg-light ms-3">Assuntos</a>
      <a routerLink="/cad-livros" class="list-group-item list-group-item-action bg-light ms-3">Livros</a>
      <div class="list-group-item bg-light mt-3">
        Relatórios
      </div>
      <a routerLink="/rel-livros" class="list-group-item list-group-item-action bg-light ms-3">Livros</a>
    </div>
  </div>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
